 body{
   background-image: url(https://ak.picdn.net/shutterstock/videos/5585243/thumb/1.jpg);
 }
 #container {
    width:500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
  }
  
  .marker {
    position: absolute;
    width: 60px;
    left: 220px;
    top: 190px;
    transform: rotate(180deg);
  }

  


  
  .wheel {
    width: 100%;
    height: 100%;
  }
  
   @keyframes glowing {
    0% {

      box-shadow: 0 0 5px #bff727;
    }
    50% {
    
      box-shadow: 0 0 20px #d2df1e;
    }
    100% {
    
      box-shadow: 0 0 5px #99eb16;
    }
  }
  
  .button {
    display: block;
    width: 252px;
    margin: 39px auto;
    cursor: pointer;
    animation: glowing 700ms infinite;

  }
  
  .button:hover {
    opacity: 0.8;
    filter:contrast(10);
    
  }
  
  
  
 


  
